/**
Custom CSS per-site can go here
*/

body {
  background: url('../../images/landing.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#page-wrapper, .region-bottom, #content, .no-sidebars #content {
  width: 900px;
}

#main {
  border: none;
}

#main .section {
  margin: 0 5px;
}

#navigation #main-menu {
  margin-top: 3px;
}

#navigation #main-menu a {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
}

#navigation #main-menu a:hover {
  color: #eee;
}

#page-wrapper {
  margin-bottom: 4em;
}

#page #main #content {
  margin-top: 2em;
  color: black;
  background-color: rgba(254, 254, 254, 0.92);
  opacity: 0.92;
}

.page-home #page #main #content {
  background-color: transparent;
  color: white;
}

#page-title {
  margin-bottom: 0.8em;
}

#home-big-box {
  width: 400px;
  min-height: 200px;
  border: 1px solid #f8f8f8;
  padding: 2em 10em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px 5px #444;
  background-color: #222;
}

.views-row {
  display: block;
  margin: 1.5em 0.5em;
  padding: 1.2em 0.8em 0.1em 0.8em;
  border-radius: 6px;
}

.views-row-odd {
  background-color: #bbb;
}

.views-row-even {
  background-color: #d2d2d2;
}

.views-field-delete-node {
  clear: both;
}

.views-field-edit-node, .views-field-delete-node {
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 5px;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.views-field-field-name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.views-field-field-speaker-image img {
  height: 120px;
  width: auto;
  border: 3px outset dimgray;
  border-radius: 5px;
  background-color: #bbb;
  padding: 1px;
  float: left;
  margin-right: 1em;
}

#add-link {
  margin-left: 89%;
  margin-bottom: -1.4em;
}





#social-links {
  min-height: 10px;
  width: 100%;
  border-top: 2px solid #e62b1e;
  background-color: gray;
  position: fixed;
  bottom: 0;
  padding: 8px;
  text-align: center;
}

#social-links a:hover {
  opacity: 0.8;
}

#link {
  margin: 0 2em;
}